<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5p %c{1} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="ALL">
        <appender-ref ref="stdout"/>
    </root>
</configuration>